## Repaso tipo checkpoint M1

In [1]:
import pandas as pd
import numpy as np

In [28]:
df=pd.read_csv('../Clase 04/wine_reviews.csv', index_col=0)

In [29]:
df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

1. Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "wine_reviews.csv".
    Esta función debe informar la cantidad de registros cuyo pais sean Argentina o Chile retornando ese valor en un dato de tipo tupla (catidad de registros Argentina, catidad de registros Chile).
    Pista: averiguar la funcion Shape

In [19]:
def pais():    
    a=df[df.country=='Chile'].shape[0]
    b=df[df.country=='Argentina'].shape[0]
    return (a,b)

In [21]:
pais()

(4472, 3800)

2. Esta función debe eliminar las columnas 'taster_name' y 'taster_twitter_handle' y luego informar la cantidad de columnas
    retornando ese valor en un dato de tipo entero.

In [30]:
def quitarcolumnas():
    df.drop(columns=['taster_name','taster_twitter_handle'],inplace=True)
    ncolumnas=int(df.shape[1])
    return ncolumnas

In [31]:
quitarcolumnas()

11

3. Esta función debe informar la cantidad de registros de la columna precio sin tener en cuenta aquellos con valores faltantes
    retornando ese valor en un dato de tipo entero.

In [40]:
def contprice():
    pricenotna=df.price.count()
    return pricenotna

In [41]:
contprice()

120975

In [35]:
df.price.notna().sum()

120975

In [36]:
df.price.count()

120975

In [38]:
df.dropna(subset=['price']).shape[0]

120975

4. Esta función debe informar el promedio de precio de los vinos con puntuacion mayor a 50 provenientes de US. El promedio debe ser redondeado a 2 decimales, retornando ese valor en un dato de tipo float.

In [44]:
df1=df[df['country']=='US']

In [45]:
df1=df1[df1['points']>50]

In [55]:
def puntuacion():
    df1=df
    df1=df1[df1['country']=='US']
    df1=df1[df1['points']>50]
    punt=round(df1['price'].mean(),ndigits=2)
    return float(punt)

In [56]:
puntuacion()

36.57

5. Esta función debe informar el mayor puntaje para los vinos de la variedad 'Pinot Noir' retornando ese valor en un dato de tipo entero.

In [63]:
def pinot():
    maxim=df[df.variety=='Pinot Noir']['points'].max()
    return int(maxim)

In [64]:
pinot()

99

6. Esta función recibe tres array de Numpy, y devuelve 'Posible' si es posible realizar una multiplicación entre las tres matrices (n1 x n2 x n3), y "No es posible" si no es posible.

In [76]:
def matrices(n1,n2,n3):
    try: 
        n1@n2@n3
        return 'Posible'
    except ValueError: 
        return 'No es posible'

In [74]:
n1=np.array([[1, 2],[3, 4]])
n2=np.array([[1, 2],[3, 4]])
n3=np.array([[1, 2],[3, 4]])

In [78]:
matrices(n1,n2,n3)

'No es posible'

In [77]:
n3=np.array([[1, 2]])

7. Esta función debe tomar la columna precio y devolver la suma de los valores de esta, con 4 decimales después del punto, redondeado.

In [85]:
def sumprice():
    s= round(df.price.sum(),ndigits=4)
    return s

In [86]:
sumprice()

4278086.0

8. Esta función debe informar la cantidad de paises que están presentes en el dataset
    retornando ese valor en un dato de tipo entero.

In [98]:
def cantpaises():
    cant=df.country.unique().size
    return int(cant)

In [99]:
cantpaises()

44

9. Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "df1.csv" y "df2.csv".
    Esta función debe retornar: numero de cursos diferentes y promedio de precio de los cursos que tienen descuento en formato tupla, teniendo en cuenta que no debe haber valores repetidos.'

In [102]:
df1=pd.read_csv('../df1.csv',index_col=0)
df2=pd.read_csv('df2.csv',index_col=0)

In [107]:
df3=df1.merge(df2, how='outer',on='Courses')

In [122]:
df3

   Courses      Fee Duration  Discount
0    Spark  20000.0   30days    2000.0
1  PySpark  25000.0   40days       NaN
2   Python  22000.0   35days    1200.0
3   pandas  30000.0   50days       NaN
4     Java      NaN      NaN    2300.0
5       Go      NaN      NaN    2000.0

In [121]:
df3['Courses'].unique().shape[0]

6

In [129]:
def pprom():
    a=df3['Courses'].unique().shape[0]
    b=df3[df3.Discount.notna()]['Fee'].mean()
    return (a,b)

In [130]:
pprom()

(6, 21000.0)

10. Ordenar la siguiente lista usando el metodo de organizacion burbuja: [25, 45, 36, 47, 69, 48, 68, 78, 14, 36]

In [131]:
def ord_por_burbujeo(lista):
    #completar el código
    largo=len(lista)
    orden=False
    while not orden:
        orden=True
        for i in range(1,largo):
            p=i-1
            s=i
            if lista[p]>lista[s]:
                reemp=lista[p]
                lista[p]=lista[s]
                lista[s]=reemp
                orden=False

    return lista

In [132]:
list=[25, 45, 36, 47, 69, 48, 68, 78, 14, 36]

In [133]:
ord_por_burbujeo(list)

[14, 25, 36, 36, 45, 47, 48, 68, 69, 78]